html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
}

body {
  color: #40514e;
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

:root{
    --body-bg:#e4f9f5;
    --color-dark: #2a2a2a;
    --color-orange:orangered;

    --text-color:var(--color-dark);
    --border-color:var(--color-dark);

    --dark-bg:var(--color-dark);
    --dark-text-color:#fff;
    --dark-border-color:#fff;

    --shadow: 4px -2px 40px 9px rgba(128,128,128,0.625);
}

.flex{
    display: flex;
    gap: 1rem;
}

.grid{
    display: grid;
    gap: 1rem;
}

a{
    text-decoration: none;
    color: inherit;
}

.container{
    width: 80%;
    margin: auto
}

/* top conatiner  */
.top-container {
  background:var(--body-bg);
  position: relative;
  margin: 0;
  padding: 0;

}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

h2 {
    color: #66bfbf;
    font-size: 5.625rem;
    margin-top: 0;
    font-family: "Sacramento", cursive;
  }
  
  h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
  }
  .bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
  }
  
  .top-container img {
    overflow-clip-margin: content-box;
    overflow: clip;
  }

  /* header  */
  header{
    box-shadow: var(--shadow);
    position: sticky;
    top: 0;
    background: var(--body-bg);

  }

  header .header{
    justify-content: space-between;
    align-items: center;
    /* padding: 0.5rem 0; */
  }

  .navigation{
    list-style: none;
    font-weight: bold;
  }

  .navigation li:hover{
    color: var(--color-orange) ;
    transition: all 0.3s;
  }

  header .logo img {
    height: 10rem;
    padding-bottom: 50px;
    transform: scale(1.5);
    transform-origin: 0 0;
  }

  header .logo{
    justify-content: center;
    align-items: center;
  }

  /* middle container  */

  .middle-container{
    background: var(--body-bg);
    padding-top: 15rem;
  }

  .hero{
    grid-template-areas: "left right";
    padding: 2rem 2rem;
  }

  .left{
    grid-area: left;
    flex-direction: column;
    margin-left: 10vw;
    justify-content: center;
  }

  .left p {
    font-weight: bold;
    font-size: 1.5rem;
  }

  .left p span {
    font-size: 2.2rem;
    font-weight: bolder;
    letter-spacing: 5px;
  }

  .left button {
    background: var(--dark-bg);
    color: var(--dark-text-color);
    border: none;
    padding: 0.8rem 2rem;
    border-radius: 2rem;
    cursor: pointer;
  }

  .hero .profile{
    grid-area: right;
    justify-content: flex-end;
    align-items: center;
  }

  .hero .profile img{
    height: 80%;
    width: 70%;
  }
